.title-logo{
	width: 100px;
	height: 100px;
	margin-top: 20px;
}

body{
	font-family: 'Lato', sans-serif;
	color: #686868;
	font-weight: 300;
}

.text-muted{
	color : #bcbbbb;
	font-family: Gotham HTF;
}

.text-thin{
	font-weight: 100;

}
.title-super{
	font-size: 60px;
}

/* TODO: Specifying Horizontal line */
hr{
	border: none;
	height: 4px;
	color: #bcbbbb;
	background-color: #bcbbbb;
}

/*TODO: Specifying titleone Appify */
.titleone{
	font: 32px, Gotham HTF;
	color: #686868;
	letter-spacing: 2px;
}

/*TODO: Specifying titletwo Sunflower */
.titletwo{
	font: 32px, Gotham HTF;
	color: #686868;
	letter-spacing: 2px;
}

/*TODO: Specifying titlethree Boekh */
.titlethree{
	font: 32px, Gotham HTF;
	color: #686868 ;
	letter-spacing: 2px;
}

p{
	color: #bcbbbb;
	font-weight: 100;
}

.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}

.container{

}



